@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900&family=Mulish:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");


.subtitle {
    font-size: 1.9rem;
    margin-top: 0.2rem;
    color: #1b2b5c;
    font-weight: 600;
    text-align: center;
}

.logo-container {
    width: 90px;
    margin-right: 10px;
}

.title-container {
    flex-grow: 1;  
}

.main > div:first-child h1 {
    font-size: 3.6rem;
    margin-bottom: 0.5rem;
    color: #1b2b5c;
    font-weight: 500;
    font-family: "Smooch Sans", serif;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feedback-container {
    background-color: #fff;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0px 8px 8px rgba(181, 198, 221, 0.3);
    max-width: 655px;
    width: 100%;
}

.feedback-container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 2rem;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
}

.options label {
    cursor: pointer;
    accent-color: #1b2b5c;
}

.options input[type="radio"] {
    margin-right: 0.5rem;
    height: 28px;
    width: 28px;
    vertical-align: middle;
}

.comments {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.comments label {
    display: block;
    margin-bottom: 1rem;
}

textarea {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #fbfcff;
    color: #1b2b5c;
    width: 100%;
    height: 80px;
    padding: 0.5rem;
    border: 1px solid #e3e8f5;
    border-radius: 5px;
    resize: none;
}

.disclaimer {
    font-size: 12px;
    color: #7a7a7a;
    margin-top: -15px;
    line-height: 1.5;
    max-width: 542px;
    width: 100%;
}

.disclaimer a,
.disclaimer a:visited {
    color: #7a7a7a;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.cancel-btn,
.submit-btn {
    font-family: "Mulish", sans-serif;
    font-weight: 580;
    font-size: 16px;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #000;
}

.cancel-btn {
    background-color: transparent;
    color: #000;
}

.submit-btn {
    background-color: #2a40ed;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #d1d8f9;
    color: #000;
}

.submit-btn:hover {
    background-color: #163d7a;
    color: #fff;
}

@media (max-width: 700px) {
    body {
        height: auto;
    }

    .feedback-container {
        width: 90%;
        margin: 80px auto;
    }
}

@media (max-width: 620px) {
    .options {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 430px) {
    .buttons {
        flex-direction: column-reverse;
    }
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
}

.text-section h1 {
    font-size: 9vw;
    line-height: 1;
    margin: 0;
}

.content-section {
    max-width: 50%;
}

.content-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}






